.VideoFormat img{
    width: 320px;
    height: 180px;
    border-radius: unset;
    border: unset;
}

.VideoFormat{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    max-width: 350px;
    padding: 20px;
    margin: 10px;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 6px;

}