.collapse .toggle {
    background-color: #D8BFD8;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 800px;
}

.collapse {
    max-width: 800px;
}

.collapse .collapseInfo {
    border: 1px solid #000000;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* .collapse .toggle button {
    
} */