PORT=3001
SECRET_KEY=supersecretkey

DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=recipe_book

CLOUDINARY_API_KEY=271113218177696
CLOUDINARY_API_SECRET=JYXG7gwBAn3tXIyBOndv-D1xUCo
CLOUDINARY_NAME=df16thior