.HomeRecipe .Picture {
    width: 300px;
    display: block;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 #2c4147;
}

.HomeRecipe .Picture img:hover {
    box-shadow: 0 8px 16px 0 #af9231;
    width: 310px;
}


.HomeRecipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #8DC1D7;
}

.HomeRecipe .RecipeTitle h1 {
    font-family: Rufina;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}
