.Profile {
  /* background-color: #F0F8FF; */
  height:200vh;
  font-family: 'Merriweather', serif;
 
}
.profile {
  background-color: #F0F8FF;
  height:200vh;
}

.profilepic {
  width:100px;
  height:100px;
}



.sidebar {
  background-color: #fff; 
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.4);
  padding: 10px;
  width:200px;
  margin: 0 10px;
  border-radius: 6px;
  margin-top:12px;   
}
.sidebar .user-heading.round   {
  border-radius: 6px;
  display: inline-block;
}

.sidebar .user-heading img {
  width: 250px;
  height: 150px;
  
}
.sidebar .user-heading {
  
  color: black;
  border-radius: 6px;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
}
.sidebar .user-heading h5 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0px;;
}

.sidebar .user-heading p {
  font-size: 15px;
  margin-bottom: 2px;
}

.sidebar ul {
  margin-top: 0px;
  display:flex;
  flex-direction: column;
}

.sidebar ul > li {
  border-bottom: 1px solid #ebeae6;
  margin-top: 0;
  line-height: 50px;
  font-size: 18px;
  
}

.sidebar ul > li:last-child {
  border-bottom: none;
  
}


.ProfileRecipes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favProBtn {
  /*border: 1px solid black; */
    background-color: bisque;
    font-size: 15px;
    background-color: #E0FFFF;
    border: .2px solid #00000042;
    padding: 5px 10px;
    margin: 20px;
    /* margin: 10px; */
    /* margin-bottom: 10px; */
    /* font-size: 15px; */
    /* margin-top: 20px; */
    /* width: 120px; */

    
    font-family: 'Merriweather', serif;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 6px;
    font-family: 'Merriweather', serif;
}

.sidebar ul > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #89817f;
  border-left: 5px solid #fff;
  text-decoration: none;
}

.sidebar ul > li > a:hover, .sidebar ul > li > a:focus, .sidebar ul li.active  a {
  background: #f8f7f5 !important;
  border-left: 5px solid #00ced1;
  color: #89817f !important;
}

.sidebar ul > li:last-child > a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.sidebar ul > li > a > i{
  font-size: 16px;
  padding-right: 10px;
  color: #bcb3aa;
}

.modalBtn {
  text-align: center 
}

.openModalBtn {
  /*width: 20px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;*/
  
  justify-content: center;
  background-color: #E0FFFF;
  border: .2px solid #00000042;
  padding: 5px 10px;
  margin: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  margin-top: 20px;
  width:140px;
  font-family: 'Merriweather', serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}


/*h5 {
  color: #000;
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 5px 0;
}*/

/*.email {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px 0;
}*/
/*.fauxNavElement {
  height: 10px;
  background-color: #eee;
}

.fauxNav {
  margin: 20px 0;
}

.fauxNavElement:not(:last-child) {
  margin-bottom: 10px;
}
*/
.profile-info{
  margin-top:30px;   
}


.profile-info .panel-footer {
  background-color:#f8f7f5 ;
  border-top: 1px solid #e7ebee;
}
.btn  {
  background-color: red;
  
} 

.profile-info .panel-footer ul li a {
  color: #7a7a7a;
}

.panel-body .bio-graph-info {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left:20px;

}


/*.bio-graph-heading {
  background: #00ced1;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding: 40px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
  border-radius: 6px;
  margin-right: 2px;
}
*/

.bio-graph-info {
  color: #000000;
}

.bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;
}

.bio-row {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  padding:0 15px;
}

.bio-row p span {
  width: 100px;
  display: inline-block;
}


.container-banner{
  background-color: #fff;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 6px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-width: 80vw;
  max-width: 100vw;
 
}
.banner-intro {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner-intro div {
  margin: 15px;
}
.banner-blurb {
  width: 50%;
}
.banner-blurb span {
  display: block; 
  margin-top: 10px;
}
.banner-blurb span:first-of-type {
  font-size: 20px;
  
}
.banner-blurb span:nth-child(2) {
  font-size: 30px;
  margin-left: -80px;
}

#fav {
  font-family: 'Lora', serif;
  font-size: 40px;
}

#name {
  font-size: 45px;
  margin-left: -110px;
  font-family: 'Lora', serif;

}

#noimage {
  font-size: 35px;
  text-align: center;
  font-family: 'Merriweather', serif;

}

.description {
  font-size: 20px;
}
.profile-img img {
  width: 200px;
  height:200px;
  display: flex;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.50);
  /* overflow: hidden; */
  padding: 0px, 0px, 0px, 0px;
  margin-bottom: 0px;
  
}


.sidebarpic{
  width: 80px;
  border: 5px solid #00ced1;

}

/*.fauxNav {
  text-align: center;
}*/

.side-btn {
  background-color: #E0FFFF;
  border: .2px solid #00000042;
  padding: 5px 10px;
  margin: 10px;
  margin-bottom: 30px;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 50px;
  width: 90px;
  font-family: "Open Sans", Hebrew;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

h6 {
  margin-top: 5px;
  font-size: 30px;
  margin-bottom:15px;
  text-align: center;
}

#editbutton {
  font-family: 'Merriweather', serif;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 15px;
  width:130px;
}

/*a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-6px);
}

a.github {
  color: #fff;;
  margin-top: 10px;
  margin-bottom: 10px;
}

a.linkin {
  color: #4968ad;
  margin-top: 10px;
  margin-bottom: 10px;
}*/

