.Videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F8FF;
}

.Videos .vidBtn {
    border: 1px solid black;
    font-size: 18px;
    background-color: #00ced1;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
