.Login1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Login1 .splash-image {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
  .Login1 .login1-card {
    width: 500px;
    padding: 24px 36px;
    background-color:none;
    opacity: .9;
    border-radius: 6px;
    
  }
  
  .forms, .forms-fields {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  .forms-fields {
    width: 400px;

  }
  .forms-input {
    max-width: 100%;
    margin: 10px;
    width: 100%;
    
  }
  #survey {
    display: block;
    font-size: 22px;
    font-family: 'Merriweather', serif;
    color:black;
    margin-left:20px;
    
  }
  input {
    width: 100%;
    padding: 10px;
    background-color: #FFE4E1;
    border-radius: 6px;
  }
  button {
    border:black;
    background: transparent;
    cursor: pointer;
  }
  .save-btn {
    font-family: 'Merriweather', serif;
    padding: 5px 10px;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    width: 190px;
    background-color:#00CED1;
    opacity: 3;
    
  }

  .skip-btn {
    font-family: 'Merriweather', serif;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 190px;
    background-color:#00CED1;
    opacity: 3;

  }

  #more-about { 
    color:black;
    text-transform: uppercase;
    height: 80px;
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  
  .save-btn:hover, .skip-btn:hover {
    background-color: #20a8ca;
  }

  .skip-btn {
    margin-left: 1000px;

  }

  .save-btn {
    margin-bottom: 80px;
  }
  .error {
    font-family: 'Crimson Text', serif;
    color: red;
    font-weight: 600;
  }
  
  .login1-footer {
    display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 10px 0;
      width: 100%;
      gap: 5px;
      color: var(--muted);
  }

