
.footer{
    margin-top: 1rem;
    padding: 1rem;
    height: 40px;
    background-color: #d82e2e;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", Hebrew;
    color:white;
  }