/*.RecipeCalls {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 1rem;
    width: 300px;
    box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
    background-color: #a9dfc6;
    border-radius: 6px;
  }*/

 /*.RecipeCalls {
    display: flex;
    flex-direction: row;
 }*/