.Ingredients {
    background-color: #F0F8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
}

.Ingredients .listIngred input{
    width: 500px;
}

.Ingredients button {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #00CED1;
    border-color: black;
    font-size: 20px;
}

.Ingredients button:hover {
    box-shadow: 0 8px 16px 0 #2c4147;
}

.Ingredients .contentIngred {
    background-color: #F0F8FF;
}
