.VideoPage input {
    width: 500px;
}

.VideoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F8FF;
    min-height: 1000px;
    color:black
}

#searching {
    background-color: white;
    margin-top: 20px;
}
.videop {
    background-color: #F0F8FF;
}

.VideoPage h1 {
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Lora', serif;
    color:black

}

.VideoPage .headerVid .box {
    margin-left: 200px;
    margin-right: 200px;
}

.VideoPage .headerVid h2 {
    margin-left: 10px;
    margin-right: 10px;
}

.headerVid {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 6px;
    margin-top: 20px;
    padding-bottom: 30px;
    
    
    background-color: #7ed5d6c9;
    box-shadow: 0 4px 8px 2px rgb(77 77 77 / 15%);
    width: 900px;
}

.box .input {
    border: 1px solid #000000;
}