.Planner {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", Hebrew;
  }
  
  section {
    margin: 2rem 0 1rem 0;
   
  }
  
  .controls {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    /*text-align: center;*/
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
.getBtn {
    /*width: 100%;
    padding: 0.5rem 1rem;
    background-color: #45cf8f;
    color: #f3f3f3;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;*/
    background-color: #00CED1;
    border: 1px solid #000000;
    padding: 3px 10px;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    margin-top: 20px;
    width: 190px;
    font-weight:bold;
    font-family: "Open Sans", Hebrew;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .nutrients ul {
    display: flex;
    width: 35rem;
    justify-content: space-evenly;
  }
  
  .meals {
    display: flex;
  
  }
  
  img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 6px;
  }
  
  article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0 1rem;
    max-width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
    background-color: #a9dfc6;
    border-radius: 6px;
  }
  
  ul {
    list-style: none;
  }
  
  .instructions {
    font-size: 0.9rem;
    margin-bottom: 1rem;
   
  }
  
 /* a {
    text-decoration: none;
    color:#000000;
    width: fit-content;
    padding: 0.5rem 1rem;
  }
  
  a:hover {
    cursor: pointer;
    
  }*/
  
  @media only screen and (max-width: 1024px) {
    .meals {
      flex-direction: column;
      align-items: center;
    }
  
    .nutrients ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  