.detail img {
    width: 185px;
}

.detail {
    background-color: #F0F8FF;
}
.det {
    background-color: #F0F8FF;
}
.Loading {
    /* height: 50%;
    width: 50%; */
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}